@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Inter:wght@300;500;700&display=swap');

@layer tailwind-base, custom, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer custom {
    html, body {
        font-family: 'Inter', sans-serif;
        line-height: 28px;
        font-weight: 300;
    }

    b {
        font-weight: 500;
    }

    .title {
        font-family: 'Abhaya Libre', serif;
    }

    p {
        @apply mb-4
    }

    ul {
        @apply list-disc ml-6
    }

    a {
        @apply text-primary fill-primary hover:text-secondary hover:fill-secondary;
    }
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
